{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/fonts.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/story/main.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/story/blacktail.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block head %}
{{ block.super }}
  {% image page.image original as headline_image %}
  <meta property="og:url"         content="{{ request.build_absolute_uri }}" />
  <meta property="og:type"        content="article" />
  <meta property="og:title"       content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.intro }}" />
  <meta property="og:image"       content="{{ page.get_site.root_url }}{{ headline_image.url }}" />
  <meta property="fb:app_id"      content="257931904915558" />
  <meta name="twitter:card"       content="summary_large_image">
  <meta name="twitter:site"       content="@TheBlackSeaEU">
  <meta name="twitter:image"      content="{{ page.get_site.root_url }}{{ headline_image.url }}">
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block content %}

  <div class="main-description">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6>
          {% for location in page.locations.all %}
            {{ location.name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
          </h6>
          <h1>{{ page.title }}</h1>
          <h3>{{ page.intro }}</h3>
          <svg height="20" width="500">
            <line x1="0" x2="200" style="stroke:rgb(116,192,226);stroke-width:3" />
          </svg>
          <h5>
            By
            {% include "blacktail/includes/authors.html" with authors=page.authors %}
          </h5>
          {% include "blacktail/includes/social_media_links.html" with title=page.title url=request.build_absolute_uri body=page.intro %}
          <h5>{{ page.first_published_at | date:"d F Y" }}</h5>
          <br>
        </div>
      </div>
    </div>
  </div>

  {% image page.image original as img %}
  <img class="headline-image" src="{{ img.url }}">

  <div class="body-content" id="start-content">
    {% include "blacktail/includes/streamfield.html" with content=page.body %}
  </div>

  <p style="text-align: center;"><a href="{{ page.get_parent.url }}">Return to stories</a></p>
  <hr>

{% endblock %}
