{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogpage{% endblock %}


{% block extra_css %}
  <link href="{% static 'css/legacy/jquery.fancybox.css' %}" media="screen" rel="stylesheet" type="text/css">
  <link href="{% static 'css/legacy/jquery.fancybox-thumbs.css' %}" media="screen" rel="stylesheet" type="text/css">
  <link href="{% static 'css/legacy/core.css' %}" media="screen" rel="stylesheet" type="text/css">
  <link href="{% static 'css/legacy/site_light.css' %}" media="screen" rel="stylesheet" type="text/css">
  <link href="{% static 'css/legacy/blogSite.css' %}" media="screen" rel="stylesheet" type="text/css">
  <link href="{% static 'css/legacy/blogBsea.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/legacy/jquery-1.8.3.min.js' %}"></script>
  <script src="{% static 'js/legacy/onvisible.js' %}"></script>
  <script src="{% static 'js/legacy/jquery.fancybox.js' %}"></script>
  <script src="{% static 'js/legacy/galleria-1.3.3.min.js' %}"></script>
  <script src="{% static 'js/legacy/GEN.js' %}"></script>
  <script src="{% static 'js/legacy/blacksea.js' %}"></script>
  <script src="{% static 'js/legacy/article.js' %}"></script>
  <script src="{% static 'js/legacy/blogRecord.js' %}"></script>
{% endblock %}


{% block content %}

<div class="container-fluid">
  <div class="">
    <div style="margin-top: 100px;">
      <div class="row">

        <div class="col-md-8 order-md-3">
          <div class="Name blue title">
            {{ page.title }}
          </div>
          <div class="imageColumnHead orange space authName">
            {% include "blacktail/includes/authors.html" with authors=page.authors.all %}
            {% if page.date %}
              <span class='ib'>/ {{ page.date }}</span>
            {% endif %}
          </div>
          <div class="lead">
            {{ page.intro }}
          </div>
          <div class="">
            {% include "blacktail/includes/streamfield.html" with content=page.body %}
          </div>
        </div>

        <div class="col-md-1 order-md-2"></div>

        <div class="col-md-3 order-md-1">
          <div class="greyleftborder">
          <div class='imageColumnHead orange space'>
            DOSSIER: {{ page.dossier }}
          </div>
          <div class='fullwidth thumbRecordPics' id='recordThumbs_1143'>
          </div>
          <div class='imageColumnHead'>
            Related Stories
          </div>
          <ul>
            <li class="relatedContent ATmpl">
              <span class='ATmpl it'>Editor's pic</span>
              <a href='#' class='EDtxtauto relatedStory' data-iedit-path="MODELS/blog/ADMIN/getRecords.php" data-iedit-minln="2" data-iedit-select="key">
              </a>
            </li>
            <li class="relatedContent">
              <a href='index.php?idT=88&idC=88&idRec=1277&recType=story'>Football Leaks: The Dirty Tricks of Doyen Sports</a>
            </li>
            <li class="relatedContent">
              <a href='index.php?idT=88&idC=88&idRec=1142&recType=story'>Krokodil sinks teeth into persecuted Georgian drug community</a>
            </li>
            <li class="relatedContent">
              <a href='index.php?idT=88&idC=88&idRec=1262&recType=story'>Georgia&rsquo;s blitz of reuniting abandoned children with their families comes at a cost</a>
            </li>
            <li class="relatedContent">
              <a href='index.php?idT=88&idC=88&idRec=1145&recType=story'>German Karate teacher recruits Romanian village kids into global child porn ring</a>
            </li>
          </ul>
          </div>
        </div>

      </div>
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

{% endblock %}
