{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/fonts.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/story/main.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/story/toxic.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Merriweather:400,700" rel="stylesheet">
{% endblock %}

{% block head %}
{{ block.super }}
  {% image page.image max-2048x1024 as headline_image %}
  <meta property="og:url"         content="{{ request.build_absolute_uri }}" />
  <meta property="og:type"        content="article" />
  <meta property="og:title"       content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.intro }}" />
  <meta property="og:image"       content="{{ page.get_site.root_url }}{{ headline_image.url }}" />
  <meta property="fb:app_id"      content="257931904915558" />
  <meta name="twitter:card"       content="summary_large_image">
  <meta name="twitter:site"       content="@TheBlackSeaEU">
  <meta name="twitter:image"      content="{{ page.get_site.root_url }}{{ headline_image.url }}">
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block content %}

  {% image page.image max-2048x1024 as img %}

  <header data-background-image="{{ img.url }}">
      <video muted autoplay loop>
        <source src="https://theblacksea.eu/documents/20/Dilovasi_skyline_final.webm" type="video/webm">
        <source src="https://theblacksea.eu/documents/19/Dilovasi_skyline_final.mp4" type="video/mp4">
      </video>
      <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script>
        $(function() {
          setTimeout(function() {
            var header = document.querySelector('header');
            var url = header.dataset.backgroundImage;
            var video = document.querySelector('header video');
            header.setAttribute('style', "background-image: url('" + url + "')");
            var n = 0;
            var interval = setInterval(function() {
              console.log(video.readyState);
              if (video.readyState > 0) {
                console.log('video works! removing image');
                clearInterval(interval);
                header.setAttribute('style', '');
              }
              n += 1;
              if (n > 50) {
                console.log('video failed; removing');
                clearInterval(interval);
                video.remove();
              }
            }, 100);
          }, 200);
        });
      </script>
      <div class="main-info">
          <h1><span>{{ page.title }}</span></h1>
          <h2><span>{{ page.intro | striptags }}</span></h2>
      </div>
  </header>

  <div id="toxic-after-header" class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h5>By {% include "blacktail/includes/authors.html" with authors=page.authors %}</h5>
        <h5>{{ page.first_published_at | date:"d F Y" }}</h5>
        {% include "blacktail/includes/social_media_share.html" with title=page.title url=request.build_absolute_uri body=page.intro %}
      </div>
    </div>
  </div>

  <div class="body-content" id="start-content">
    {% include "blacktail/includes/streamfield.html" with content=page.body %}
  </div>

  <p style="text-align: center;"><a href="{{ page.get_parent.url }}">Return to stories</a></p>
  <hr>

  <section class="follow">
    <p>Follow us</p>
    {% include "blacktail/includes/social_media_follow.html" %}
  </section>

{% endblock %}
