{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/theblacksea.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/site_light.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blogSite.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blogBsea.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=166042473905889";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <nav class="theblacksea">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 who">
                        <a href="/" class="name">The Black Sea</a>
                        <span class="tagline">Diving deep into stories</span>
                    </div>
                    <div class="col-sm-6 links">
                        <a href="/blog">Blogs</a>
                        <a href="/stories">Stories</a>
                        <a href="/about">About</a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="share-links">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{page.url}}">
                <img src="//theblacksea.eu/malta-files/public/img/icons/icon-fb.svg" alt="Share on Facebook" />
            </a>
            <a href="mailto:?subject=&body={{page.url}}">
                <img src="//theblacksea.eu/malta-files/public/img/icons/icon-email.svg" alt="Share via E-mail" />
            </a>
        </section>


        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/theblacksea.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
