{% load wagtailcore_tags wagtailimages_tags %}

{# Individual post in a list - used on home page #}
{% image post.image original as img %}
<article class='blog_item_preview container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'>
      <a class='post_title' href='{{ post.url }}'> {{ post.title }} </a>
      {{ post.location }}
    </div>
    <div class='col-xs-12 col-sm-12 col-md-9 col-lg-9'>
      <h5 class='post_intro'> {{ post.intro }} </h5>
    </div>
  </div>
</article>
