[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "==4.6.0"
certifi = "*"
chardet = "*"
dj-database-url = "==0.3.0"
django-appconf = "==1.0.2"
django-compressor = "==2.2"
django-libsass = "==0.7"
django-modelcluster = "==4.1"
django-redis = "==3.8.2"
django = "==1.11.7"
djangorestframework = "==3.7.4"
elasticsearch = "*"
"html5lib" = "*"
idna = "*"
libsass = "*"
olefile = "*"
pillow = "*"
"psycopg2" = "*"
pytz = "*"
rcssmin = "*"
redis = "*"
requests = "*"
rjsmin = "*"
unidecode = "*"
"urllib3" = "*"
uwsgi = "*"
webencodings = "*"
whitenoise = "*"
wagtail = "==2.2.1"
ipdb = "*"
dateparser = "*"
python-slugify = "*"
"psycopg2-binary" = "*"

[dev-packages]
pylint = "*"
