[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
certifi = "*"
chardet = "*"
dj-database-url = "*"
django-appconf = "*"
django-compressor = "*"
django-libsass = "*"
django-modelcluster = "*"
django-redis = "*"
django = "*"
djangorestframework = "*"
elasticsearch = "*"
"html5lib" = "*"
idna = "*"
libsass = "*"
olefile = "*"
pillow = "*"
"psycopg2" = "*"
pytz = "*"
rcssmin = "*"
redis = "*"
requests = "*"
rjsmin = "*"
unidecode = "*"
"urllib3" = "*"
uwsgi = "*"
webencodings = "*"
whitenoise = "*"
wagtail = "*"
ipdb = "*"
dateparser = "*"
python-slugify = "*"
"psycopg2-binary" = "*"
waitress = "*"
raven = "*"

[dev-packages]
pylint = "*"
