-i https://pypi.python.org/simple
backcall==0.1.0
beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
dateparser==0.7.0
decorator==4.3.0
dj-database-url==0.3.0
django-appconf==1.0.2
django-compressor==2.2
django-libsass==0.7
django-modelcluster==4.1
django-redis==3.8.2
django-taggit==0.22.2
django-treebeard==4.3
django==1.11.7
djangorestframework==3.7.4
draftjs-exporter==2.1.2
elasticsearch==1.2.0
html5lib==0.999999999
idna==2.6
ipdb==0.11
ipython-genutils==0.2.0
ipython==6.4.0
jedi==0.12.1
l18n==2018.5
libsass==0.8.2
olefile==0.44
parso==0.3.1
pexpect==4.6.0; sys_platform != 'win32'
pickleshare==0.7.4
pillow==4.3.0
prompt-toolkit==1.0.15
psycopg2-binary==2.7.5
psycopg2==2.7.4
ptyprocess==0.6.0
pygments==2.2.0
python-dateutil==2.7.3
python-slugify==1.2.5
pytz==2017.3
rcssmin==1.0.6
redis==2.10.6
regex==2018.7.11
requests==2.18.4
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
tzlocal==1.5.1
unidecode==0.4.21
urllib3==1.22
uwsgi==2.0.15
wagtail==2.1.1
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==3.3.1
willow==1.1
