@import "./malta";

header {
  video {
    width: 100%;
  }
  overflow: hidden;
}

#toxic-after-header {
  font-family: 'Merriweather';
  font-size: 1.1em;
  font-style: italic;
  margin-top: 1.2em;
  margin-bottom: 2em;
  h5 {
    font-size: .9em;
  }
  .social-media-share {
    a {
      border-bottom: none;
    }
  }
}

.content-image .parallax {
  @media (max-width: 719px) {
    background-image: none;
    img {
      width: 100%;
    }
  }
  @media (min-width: 720px) {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    img {
      display: none;
    }
  }
}

.content-text p {
  font-size: 16px;
  margin-bottom: 12px;
}
