{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

  <div class='block overflow'>
    <div class='textColumnBig right '>

      <div class='SING archiveDesc' id='archiveDesc_archive_en'>
        <div class='EDtxa textDesc desc'>
          We present in-depth investigations into stories relevant to the greater Black Sea region.
          Narrow down by:
    {% for tag in page.tags.all %}
        <a href="{% pageurl page.stories_index %}?tag={{ tag }}">{{ tag }}</a>
        {{ tag }}
    {% endfor %}
        </div>
      </div>
    </div> 
    <div class='LeftColumnSmall blogsHead space'>{{ page.title }}</div>
    <div class='clearfix'></div>
  </div>

  <section class="posts_container container">
    <div class="row">
      {% for post in stories %}
        {% with post=post.specific %}
          {% include "blog/includes/stories_list_item.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </section>

{% endblock %}
