@import 'components';

.recent-posts {
  width: 100%;
  background: #f4f4f4;
  display: block;
  padding: .2em 0;
  margin-bottom: 1em;

  article {
    a {
      text-decoration: none;
      color: #333;
      border-bottom: none;
      font-family: "Open Sans", "futura-pt", Arial, serif;
      font-size: .8em;
      font-style: italic;
      text-transform: none !important;
      display: inline-block;
    }
    margin-bottom: .5em;
    min-height: 2.8em;
  }
}

@media (max-width: 767.98px) {
  body.template-homepage {
    .home_image,
    .recent-posts {
      display: none;
    }
  }
  section.recent-stories {
    margin-top: 30px;
  }
}

section.recent-stories {
  @extend .posts_container;
}


.follow {
  .readmore {
    margin-top: 30px;
    margin-bottom: 50px;
    a {
      font-size: 24px;
    }
  }
  .socialmedia {
    font-size: 24px;
    .social-media-follow {
      padding-left: 10px;
      display: inline-block;
      font-size: 24px;
    }
  }
}
