.index-page-header {
  margin-top: 75px;

  .index-page-title {
    font-weight: 800;
    font-family: 'sans';
  }

  .nav {
    a {
      border-bottom: none;
    }
    .nav-link.active {
      background-color: #74c0e2;
    }
  }
}
