h1 {
  margin: 20px 0;
}

.search-results {
  .search-results-item {
    > a {
      margin-top: 20px;
      margin-bottom: 20px;
      color: inherit;
      border-bottom: none;

      &:hover {
        color: inherit;
        h2 {
          color: #74c0e2;
        }
      }

      h2 {
        font-family: 'Merriweather';
        font-size: 16pt;
      }

      .image {
        img {
          width: 100%;
          height: auto;
        }
      }

      .location {
        color: #74c0e2;
        text-transform: uppercase;
        font-size: 10pt;
      }
    }
  }
}

.search-prev {
  float: left;
  &::before {
    display: inline-block;
    content: '<<\00a0';
    color: #74c0e2;
    font-size: 9pt;
  }
}

.search-next {
  float: right;
  color: inherit;
  &::after {
    display: inline-block;
    content: '\00a0>>';
    color: #74c0e2;
    font-size: 9pt;
  }
}
