h1 {
  margin: 20px 0;
}

.search-results {
  .search-results-item {
    > a {
      margin-top: 20px;
      margin-bottom: 20px;

      &:hover {
        color: inherit;
        h2 {
          color: #74c0e2;
        }
      }

      h2 {
        font-family: 'Merriweather';
        font-size: 16pt;
      }

      .image {
        img {
          width: 100%;
          height: auto;
        }
      }

      .location {
        color: #74c0e2;
        text-transform: uppercase;
        font-size: 10pt;
      }
    }
  }
}
