.index_title {
    color: #333;
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
}
.index_desc {
    font-size: 17px;
    line-height: 20px!important;
    color: #333;
    font-weight: lighter;
    float: right;
    padding: 20px;
}
