{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/about.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-about{% endblock %}

{% block content %}

<br><br>

  <div class="container">
    <section class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <h1> <b>{{page.title}}</b> </h1>
        <hr>
        <p>
          BUCHAREST, ROMANIA
          CONTACT@THEBLACKSEA.EU
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg-8">
        {{ page.intro|richtext }}
      </div>
    </section>

    <section class="row authors-list">
      {% for author in authors %}
      <a class="col-12 col-sm-6 col-lg-4 col-xl-3 authors-item" href="/about/author/{{author.id}}">
        {% if author.image %}
          {% image author.image fill-510x286 %}
        {% else %}
          <img alt="The Black Sea" src="{% static 'img/default_image.png' %}" style="width: 250px;"/>
        {% endif %}
        <span class="name">{{ author.name }}</span><br>
        <span class="occupation">{{author.occupation}}</span>
      </a>
      {% endfor %}
    </section>

    <section class="row justify-content-end">
      <div class="col-12 col-sm-12 col-lg-8">
        {{ page.body|richtext }}
      </div>
    </section>
  </div>

{% endblock %}
