{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/social.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  {% include "blacktail/includes/social_widget.html" %}

<br><br>

  <div class="container">
    <section class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <h1> <b>{{page.title}}</b> </h1>
        <hr>
        <p>
          BUCHAREST, ROMANIA
          CONTACT@THEBLACKSEA.EU
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        {{ page.intro|richtext }}
      </div>
    </section>

    <section class="row">
      {% for author in authors %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/about/author/{{author.id}}">
          {% if author.image %}
            {% image author.image fill-250x140 %}
          {% else %}
            <img alt="The Black Sea" src="{% static 'img/default_image.png' %}" style="width: 250px;"/>
          {% endif %}
          {{ author.name }}
        </a><br>
        <span class="btn btn-link">
          {{author.occupation}}
        </span>
      </div>
      {% endfor %}
    </section>

    <section class="row justify-content-end">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        {{ page.body|richtext }}
      </div>
    </section>
  </div>

{% endblock %}
