{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/author.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block content %}

  <div class="hspacer"></div>
  <section class="author_container container">
    <div class="row">
      <div class="col-sm-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              {% image model.image fill-275x185 %}
            </div>
            <div class="col-sm-12">
              {{ model.name }}
              <br/>
              {{ model.occupation }}
              <br/>
              {% if model.url %}
                <a href="{{ model.url }}">{{ model.url }}</a>
                <br/>
              {% endif %}
              {% if model.email %}
                <a href="mailto:{{ model.email }}">{{ model.email }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        {{ model.bio | richtext }}
        <br/>

        {% if model.stories.live %}
          <h5>Stories by {{model.name}}:</h5>
          <ul>
            {% for story in model.stories.live %}
            <li>
              <a href="{{ story.url }}"> {{ story.title }} </a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if model.stories.live %}
          <hr>
          <h5>Blog posts by {{model.name}}:</h5>
          <ul>
            {% for story in model.blogs.live %}
            <li>
              <a href="{{ story.url }}"> {{ story.title }} </a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
