{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/home_page.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

  {% image page.image original class="home_image" %}

<section class="recent-posts">
  <div class="container">
    <div class="row text-center">
      {% for category, blogs in blog_categories %}
      <div class="col-md-3">
        <h6>{{ category.name }}</h6>
        {% for blog in blogs %}
          {% with post=blog.specific %}
          <article>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </article>
          {% endwith %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="recent-stories container">
  <div class="row">
    {% for post in stories %}
      {% with post=post.specific %}
        {% image post.image original as img %}
          {% include "blacktail/includes/stories_list_item.html" %}
      {% endwith %}
    {% endfor %}
  </div>
</section>

<hr/>

<section class="follow">
  <p>Follow us</p>
  {% include "blacktail/includes/social_media_links.html" with title=page.title url=request.build_absolute_uri %}
</section>

{% endblock %}
