{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/index_pages.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

  <section class="index-page-header container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="index-page-title">{{ page.title }}</h1>
      </div>

      <div class="col-md-9">
        <ul class="nav nav-pills">
          {% for dossier in dossiers %}
            <li class="nav-item">
              {% if dossier == selected_dossier %}
                <a class="nav-link active" href="./">{{ dossier }}</a>
              {% else %}
                <a class="nav-link" href="/stories/?dossier={{ dossier | urlencode }}">{{ dossier }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </section>


  <hr>

  <section class="posts_container container">
    <div class="row">
      {% for post in stories %}
        {% with post=post.specific %}
          {% include "blacktail/includes/stories_list_item.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </section>

{% endblock %}
