{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/index_pages.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/social.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
  {% include "blacktail/includes/social_widget.html" %}

  <section class="index-page-header container">
    <div class="row">
      <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'>
        <h1 class="index-page-title">{{ page.title }}</h1>
      </div>
      <div class='col-xs-12 col-sm-12 col-md-9 col-lg-9'>
        {{ page.intro | richtext }}

        <section class="container">
          <div class="row justify-content-end">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p>Narrow down by:</p>
              <ul class="nav nav-tabs" id="filters_nav" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#dossier-tab" role="tab" aria-controls="dossier-tab" aria-selected="true">Dossier</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tag-tab" role="tab" aria-controls="tag-tab" aria-selected="false">Tag</a>
                </li>
              </ul>
              <div class="tab-content" id="filters_tabs">
                <div class="tab-pane fade show active" id="dossier-tab" role="tabpanel" aria-labelledby="dossier-tab">
                  {% for dossier in dossiers %}
                  <a href="/stories/?dossier={{dossier|urlencode}}" class="btn btn-link">{{ dossier }}</a>
                  {% endfor %}
                </div>
                <div class="tab-pane fade" id="tag-tab" role="tabpanel" aria-labelledby="tag-tab">
                  {% for tag in tags %}
                    {{ tag }}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </section>


  <hr>

  <section class="posts_container container">
    <div class="row">
      {% for post in stories %}
        {% with post=post.specific %}
          {% include "blacktail/includes/stories_list_item.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </section>

{% endblock %}
