<nav class="theblacksea">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 who">
        <a href="/" class="name">The Black Sea</a>
          <span class="tagline">Diving deep into stories</span>
      </div>
      <div class="col-sm-6 col-md-5 links">
        <a href="/blog">Blogs</a>
        <a href="/stories">Stories</a>
        <a href="/about">About</a>
      </div>
      <div class="col-sm-12 col-md-3 search">
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="query" value="{{ search_query }}">
            <input type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>
</nav>
