<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
<div class="container">
  <a href="/" class="navbar-brand">The Black Sea</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNav">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="collapseNav">

      <span class="tagline navbar-brand">Diving deep into the stories</span>
      <ul class="navbar-nav ml-auto px-3 links">
        <a class="btn btn-link" href="/blogs">Blogs</a>
        <a class="btn btn-link" href="/stories">Stories</a>
        <a class="btn btn-link" href="/about">About</a>
      </ul>

      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" value="{{ search_query }}">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>

    </div>
</div>
</nav>
