<div class="social-media-links">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{url}}">
    <i class="fab fa-lg fa-facebook-square"></i>
  </a>
  <a href="mailto:?subject={{title}}&amp;body={{body}}%0D%0A%0D%0A{{url}}">
    <i class="fas fa-lg fa-envelope"></i>
  </a>
  <a href="https://twitter.com/intent/tweet?original_referer={{url|escape}}&amp;ref_src=twsrc%5Etfw&amp;text={{title|escape}}&amp;tw_p=tweetbutton&amp;url={{url|escape}}">
    <i class="fab fa-lg fa-twitter-square"></i>
  </a>
  {# <i class="fas fa-lg fa-rss-square"></i> #}
</div>
