{% load wagtailcore_tags wagtailimages_tags %}

<div class="container">
  <div class="stream-field">
    {% for child in content %}
      {% if child.block_type == 'subheadline' %}
        <section class="content-subheadline">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <h2>
                  {{ child }}
                </h2>
              </div>
            </div>
        </section>
      {% elif child.block_type == 'h2' %}
        <section class="content-subheadline">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <h2>
                  {{ child }}
                </h2>
              </div>
            </div>
        </section>
      {% elif child.block_type == 'h3' %}
        <section class="content-subheadline">
          <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <h3>
                  {{ child }}
                </h3>
              </div>
            </div>
          </div>
        </section>
      {% elif child.block_type == 'h4' %}
        <section class="content-subheadline">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <h4>
                  {{ child }}
                </h4>
              </div>
            </div>
        </section>
      {% elif child.block_type == 'intro' %}
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="intro">{{ child }}</div>
            </div>
          </div>
      {% elif child.block_type == 'aligned_html' %}
          <div class="row">
            <div class="col-md-8 offset-md-2">
              {% if child.value.alignment == 'normal' %}
                {{ child.value.bound_blocks.html.render }}
              {% else %}
                {{ child.value.bound_blocks.html.render }}
              {% endif %}
            </div>
          </div>
      {% elif child.block_type == 'pullquote' %}
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <blockquote>
                  {{ child.value.quote }}
                  {% if child.value.attribution %}<span>- {{ child.value.attribution }}</span>{% endif %}
              </blockquote>
            </div>
          </div>
      {% elif child.block_type == 'paragraph' %}
          <section class="content-text">
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  {{ child.value|richtext }}
                </div>
              </div>
          </section>
      {% elif child.block_type == 'classy_paragraph' %}
          <section class="content-text classy-paragraph{% for cls in child.value.cls %} {{ cls }}{% endfor %}">
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  {{ child.value.text|richtext }}
                </div>
              </div>
          </section>
      {% elif child.block_type == 'embedded_image' %}
          <section class="content-image-embed">
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <div class="image">
                    {% image child.value.image max-2048x1024 as theimage %}
                    {% if child.value.clickable %}
                      <a href="{{ theimage.url }}">
                    {% endif %}
                    <img src="{{ theimage.url }}" width="{{ theimage.width }}" alt="{{ theimage.alt }}" />
                    {% if child.value.clickable %}
                      </a>
                    {% endif %}
                  </div>
                  {% if child.value.caption %}
                  <div class="caption">
                    <p>{{ child.value.caption }}</p>
                  </div>
                  {% endif %}
                </div>
              </div>
          </section>
      {% elif child.block_type == 'full_image' %}
        <section class="content-image-full">
          {% image child.value.image original as theimage %}
          <div class="image" style="background-image: url('{{ theimage.url }}');" data-aos="fade" data-aos-duration="800"></div>
          {% if child.value.text %}
            <div class="text {{ chid.value.text_position }}" data-aos="fade" data-aos-duration="1200">
              {% if child.value.h1 %}
                <h1>{{ child.value.h1 }}</h1>
              {% endif %}
              {% if child.value.h2 %}
                <h1>{{ child.value.h2 }}</h1>
              {% endif %}
              {% if child.value.h3 %}
                <h1>{{ child.value.h3 }}</h1>
              {% endif %}
              {% if child.value.text %}
                <p>{{ child.value.text | richtext }}</p>
              {% endif %}
            </div>
          {% endif %}
        </section>
      {% elif child.block_type == 'half_image' %}
        <section class="content-image-half">
            {% image child.value.image max-1000x500 as theimage %}
            <div class="image" data-aos="fade-right">
              <img src="{{ theimage.url }}" width="{{ theimage.width }}" alt="{{ theimage.alt }}" />
            </div>
            <div class="text child.value.text_position }}" data-aos="fade-left">
              {% if child.value.h1 %}
              <h1>{{ child.value.h1 }}</h1>
              {% endif %}
              {% if child.value.h2 %}
              <h1>{{ child.value.h2 }}</h1>
              {% endif %}
              {% if child.value.h3 %}
              <h1>{{ child.value.h3 }}</h1>
              {% endif %}
            </div>
        </section>
      {% elif child.block_type == 'aligned_image' %}
        <div class="img-wrapper {{ child.value.alignment }}">
          {% if child.value.alignment == "left" or child.value.alignment == "right" %}
            {% image child.value.image width-300 as theimage %}
          {% else %}
            {% image child.value.image width-1280 as theimage %}
          {% endif %}

          <img src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" />

          {% if child.value.caption %}
            <div class="caption">
              {{ child.value.caption|richtext }}
            </div>
          {% endif %}
        </div>
      {% elif child.block_type == 'image' %}
        {% image child.value.image max-2048x1024 as theimage %}
        {% if child.value.alignment == 'parallax' %}
          <section class="content-image">
            <div class="row">
              <div class="col-12">
                <div class="parallax" style="background-image: url('{{ theimage.url }}')">
                  <img src="{{ theimage.url }}" width="{{ theimage.width }}" alt="{{ theimage.alt }}" />
                </div>
                {% if child.value.caption %}
                  <p class="caption">{{ child.value.caption }}</p>
                {% endif %}
              </div>
            </div>
          </section>
        {% else %}
          <section class="content-image">
            <div class="row">
              <div class="{% if child.value.alignment == "medium" %}col-12{% else %}col-md-8 offset-md-2{% endif %}">
                <div class="image">
                  <img src="{{ theimage.url }}" width="{{ theimage.width }}" alt="{{ theimage.alt }}" />
                </div>
                {% if child.value.caption %}
                  <p class="caption">{{ child.value.caption }}</p>
                {% endif %}
              </div>
            </div>
          </section>
        {% endif %}
      {% else %}
          {{ child }}
      {% endif %}
    {% endfor %}
  </div>
</div>
