{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/story/main.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/stories_folder.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-storyfolder{% endblock %}


{% block content %}

  {% image page.image original as img %}


  <header style="background-image: url('{{ img.url }}')">
    <div class="full-bleed-title">
      <div class="{% if page.hide_title %}sr-only{% endif %}">
        <h1>{{ page.title | striptags }}</h1>
        <h2>{{ page.intro | striptags }}</h2>
      </div>
    </div>
  </header>

  <section class="container">
    {{ page.body | richtext }}
  </section>

  <section class="container">
    <div class="other-stories-container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 style="text-align: center;">Read the stories below</h3>
        </div>
      </div>
      <div class="row" style="clear: both;">
        {% for story in stories %}
          {% with story=story.specific %}
            <a href="{{ story.url }}" class="col-lg-4 moreBit-a">
              <div class="moreBit">
                <div class="img-wrap">
                  {% if story.image %}
                    {% image story.image fill-611x350 as story_img %}
                    <img src="{{ story_img.url }}" class="u-max-full-width">
                  {% else %}
                    <img alt="The Black Sea" src="{% static 'img/default_image.png' %}"/>
                  {% endif %}
                </div>
                <h6>{{ story.title | striptags }}</h6>
                <p>{{ story.summary_or_intro | striptags | truncatewords:30 }}</p>
                <p>| {{ story.first_published_at | date:"d M Y" }}</p>
              </div>
            </a>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
