{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/story/main.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/stories_folder.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/social.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-storyfolder{% endblock %}


{% block content %}
  {% include "blacktail/includes/social_widget.html" %}

  {% image page.image original as img %}


  <header style="background-image: url('{{ img.url }}')">
    <div class="full-bleed-title">
      <h1>{{ page.title | striptags }}</h1>
      <h2>{{ page.intro | striptags }}</h2>
    </div>
  </header>

  <section class="container">
    {{ page.body | richtext }}
  </section>

  <section class="container">
    <div class="other-stories-container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 style="text-align: center;">Read the stories below:</h3>
        </div>
      </div>
      <div class="row" style="clear: both;">
          {% for _ in '123' %}
              <a href="article/en/no-way-out" class="col-lg-4 moreBit-a">
                  <div class="moreBit">
                      <div class="img-wrap">
                          <img src="/media/images/32_9EK97HF.original.jpg" class="u-max-full-width">
                      </div>
                      <h6>The European Union</h6>
                      <p>Is funding military equipment used by Turkey to stop refugees from fleeing the Syrian Civil War and entering the EU</p>
                      <p>| May 15 2018</p>
                  </div>
              </a>
          {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
